<!doctype html>
<html lang="en">

<head>
    <title>CO2Meter</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

<main>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-clouds" viewBox="0 0 16 16">
                    <path d="M16 7.5a2.5 2.5 0 0 1-1.456 2.272 3.513 3.513 0 0 0-.65-.824 1.5 1.5 0 0 0-.789-2.896.5.5 0 0 1-.627-.421 3 3 0 0 0-5.22-1.625 5.587 5.587 0 0 0-1.276.088 4.002 4.002 0 0 1 7.392.91A2.5 2.5 0 0 1 16 7.5z"/>
                    <path d="M7 5a4.5 4.5 0 0 1 4.473 4h.027a2.5 2.5 0 0 1 0 5H3a3 3 0 0 1-.247-5.99A4.502 4.502 0 0 1 7 5zm3.5 4.5a3.5 3.5 0 0 0-6.89-.873.5.5 0 0 1-.51.375A2 2 0 1 0 3 13h8.5a1.5 1.5 0 1 0-.376-2.953.5.5 0 0 1-.624-.492V9.5z"/>
                </svg>
                <h3>C02Meter</h3></span>
            </a>
        </header>

        <%

        var informes = informes;

        var ids = [];
        var nombres = [];
        var poblaciones = [];
        var particulas = [];
        var fecha = [];
        var hora = [];

        for(var i = 0; i < informes.length; ++i){
            ids.push(informes[i].id_placa), nombres.push(informes[i].nombre_localizacion),
                    poblaciones.push(informes[i].nombre_poblacion), particulas.push(informes[i].datos_co2),
                    fecha.push(informes[i].fecha_transaccion), hora.push(informes[i].hora_transaccion)
        }

        ids = JSON.stringify(ids);
        nombres = JSON.stringify(nombres);
        poblaciones = JSON.stringify(poblaciones);
        particulas = JSON.stringify(particulas);
        fecha = JSON.stringify(fecha);
        hora = JSON.stringify(hora);

        %>

        <script type="text/javascript">

            var ids2 = <%- ids%>;
            var nombres2 = <%- nombres%>;
            var poblaciones2 = <%- poblaciones%>;
            var particulas2 = <%- particulas%>;
            var fecha2 = <%- fecha%>;
            var hora2 = <%- hora%>;

        </script>

        <div>
            <h3> Informes de las placas</h3> <br />

            <script>
                document.write("<table class='table table-primary' style='margin: auto; width: 100%; height: 100%'>")
                document.write("<tr><th>ID</th><th>Nombre empresa</th><th>Población</th><th>Última lectura CO2 (ppm)</th>" +
                    "<th>Hora</th><th>Fecha</th></tr>");

                for (var i = 0; i < nombres2.length; ++i) {
                    document.write("<tr><td>" + ids2[i] + "</td><td>" + nombres2[i] + "</td><td>" + poblaciones2[i] + "</td><td>" + particulas2[i] + "</td> " +
                        "<td>" + hora2[i] + "</td><td>" + fecha2[i] + "</td></tr>");
                }
                document.write("</table>")

            </script>

        </div>

        <footer class="pt-5 my-5 text-muted border-top">
            Created by the C02Meter team &middot; &copy; 2021
        </footer>
    </div>

</main>

</body>
</html>


